*{
    box-sizing: border-box;
    margin: 0;
}
body{
    color: #299292;
}
.parent{
    width: 200px;
    margin: 0 auto;
    background-color: #cecece;
}
.child{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}